<!-- templates/partials/tabla_archivos.html -->

<div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
	<h2 class="text-base font-semibold mb-4">Archivos Subidos</h2>
	<div class="overflow-auto">
		<table class="min-w-[640px] w-full product-table table-striped">
			<thead>
				<tr class="text-left">
					<th>Nombre del Archivo</th>
					<th>Fecha de Subida</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody x-data="dataTable()" x-init="initData()">
				<template x-for="(item, index) in items" :key="index">
					<tr>
						<td x-text="item.filename" class="truncate max-w-[200px]"></td>
						<td x-text="item.uploaded_at"></td>
						<td>
							<a :href="item.filepath" download
								class="btn bg-primary text-white px-4 py-2 rounded-md hover:bg-primary/[0.85] transition-all">
								Descargar
							</a>
						</td>
					</tr>
				</template>
			</tbody>
		</table>
		<div x-show="!items.length" class="text-center text-gray-500 mt-4">No hay archivos disponibles.</div>
	</div>
</div>

<!-- Datatables Js -->
<script src="/static/js/datatable_archivos.js"></script>
<script src="/static/js/data-search.js"></script>