<div id="form_clave_oracle" style="display:none;position:relative;" class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
    {% block content %}
    <h2 class="text-base font-semibold mb-4">Registrar Clave Oracle</h2>
    <button onclick="close_popup_clave_oracle()" type="button" class="absolute top-2 right-2 hover:opacity-80 rotate-0 hover:rotate-180 transition-all duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5">
            <path d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z" fill="currentColor"></path>
        </svg>
    </button>
    <form method="POST" class="needs-validation space-y-4" novalidate action="{{ url_for('claves_oracle') }}">
        {{ form_clave_oracle.hidden_tag() }}
        <div class="">
            {{ form_clave_oracle.clave_oracle.label(class="flex") }}
            {{ form_clave_oracle.clave_oracle(class="form-input") }}
        </div>
        <div class="">
            {{ form_clave_oracle.clave_cuadro_basico.label(class="flex") }}
            {{ form_clave_oracle.clave_cuadro_basico(class="form-input") }}
        </div>
        <div class="">
            {{ form_clave_oracle.descripcion.label(class="flex") }}
            {{ form_clave_oracle.descripcion(class="form-input") }}
        </div>
        <div class="">
            {{ form_clave_oracle.grupo_terapeutico.label(class="flex") }}
            {{ form_clave_oracle.grupo_terapeutico(class="form-input") }}
        </div>
        <div class="">
            {{ form_clave_oracle.forma_farmaceutica.label(class="flex") }}
            {{ form_clave_oracle.forma_farmaceutica(class="form-input") }}
        </div>
        <div class="">
            {{ form_clave_oracle.nombre_generico.label(class="flex") }}
            {{ form_clave_oracle.nombre_generico(class="form-input") }}
        </div>
        <div>
            {{ form_clave_oracle.submit(class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10") }}
        </div>
    </form>
    {% endblock %}
</div>
<script> // validaciones


</script>
