<!-- templates/partials/subir_archivo.html -->

<!-- Mensajes Flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="mb-4">
	{% for category, message in messages %}
	<div class="rounded p-3 bg-{{ category }}/10 text-{{ category }}">
		{{ message }}
	</div>
	{% endfor %}
</div>
{% endif %}
{% endwith %}

<!-- Botón y Nombre del Archivo -->

<div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg mb-4">
	<form method="POST" enctype="multipart/form-data" action="{{ url_for('files.files_view') }}">
		<div class="flex flex-col items-start gap-4">
			<!-- Botón para subir archivo -->
			<div class="relative inline-block">
				<label for="file-upload"
					class="btn flex items-center gap-2 bg-primary border border-primary rounded-md text-white transition-all duration-300 hover:bg-primary/[0.85] hover:border-primary/[0.85] cursor-pointer">
					Seleccionar archivo
				</label>
				<input id="file-upload" type="file" name="file" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
					onchange="updateFileName()" />
			</div>

			<!-- Mostrar el nombre del archivo seleccionado -->
			<div id="file-name" class="text-gray-600 text-sm italic">Ningún archivo seleccionado</div>

			<!-- Botón para enviar -->
			<button type="submit"
				class="btn flex items-center gap-2 bg-primary border border-primary rounded-md text-white transition-all duration-300 hover:bg-primary/[0.85] hover:border-primary/[0.85]">
				Subir archivo
			</button>
		</div>
	</form>
</div>

<script>
	function updateFileName() {
		const input = document.getElementById('file-upload');
		const fileName = input.files.length > 0 ? input.files[0].name : 'Ningún archivo seleccionado';
		document.getElementById('file-name').textContent = fileName;
	}
</script>